<div class="home-content">
  <div class="card card-meme">
    <div class="cover-action">
      <div class="profile">
        <div class="avatar">
          <span>HB</span>
        </div>
        <div class="name">
          <span>Henry Bravo</span>
        </div>
      </div>
      <div class="date">
        <span>8 Ago, 2018</span>
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://i.imgflip.com/26am.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="shared">
        <span class="instagram">
          <i class="fab fa-instagram"></i>
        </span>
        <span class="facebook">
          <i class="fab fa-facebook-f"></i>
        </span>
        <span class="twitter">
          <i class="fab fa-twitter"></i>
        </span>
      </div>

      <div class="vote">
        <span class="fav">
          <i class="fas fa-heart"></i>
          <!-- <i class="far fa-heart"></i> -->
        </span>
      </div>

    </div>
  </div>
  <div class="card card-meme">
    <div class="cover-action">
      <div class="profile">
        <div class="avatar">
          <span>HB</span>
        </div>
        <div class="name">
          <span>Henry Bravo</span>
        </div>
      </div>
      <div class="date">
        <span>8 Ago, 2018</span>
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://i.imgflip.com/1bij.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="shared">
        <span class="instagram">
          <i class="fab fa-instagram"></i>
        </span>
        <span class="facebook">
          <i class="fab fa-facebook-f"></i>
        </span>
        <span class="twitter">
          <i class="fab fa-twitter"></i>
        </span>
      </div>

      <div class="vote">
        <span class="fav">
          <i class="fas fa-heart"></i>
          <!-- <i class="far fa-heart"></i> -->
        </span>
      </div>

    </div>
  </div>
  <div class="card card-meme">
    <div class="cover-action">
      <div class="profile">
        <div class="avatar">
          <span>HB</span>
        </div>
        <div class="name">
          <span>Henry Bravo</span>
        </div>
      </div>
      <div class="date">
        <span>8 Ago, 2018</span>
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://i.imgflip.com/26am.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="shared">
        <span class="instagram">
          <i class="fab fa-instagram"></i>
        </span>
        <span class="facebook">
          <i class="fab fa-facebook-f"></i>
        </span>
        <span class="twitter">
          <i class="fab fa-twitter"></i>
        </span>
      </div>

      <div class="vote">
        <span class="fav">
          <i class="fas fa-heart"></i>
          <!-- <i class="far fa-heart"></i> -->
        </span>
      </div>

    </div>
  </div>
  <div class="card card-meme">
    <div class="cover-action">
      <div class="profile">
        <div class="avatar">
          <span>HB</span>
        </div>
        <div class="name">
          <span>Henry Bravo</span>
        </div>
      </div>
      <div class="date">
        <span>8 Ago, 2018</span>
      </div>
    </div>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://i.imgflip.com/1bij.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="shared">
        <span class="instagram">
          <i class="fab fa-instagram"></i>
        </span>
        <span class="facebook">
          <i class="fab fa-facebook-f"></i>
        </span>
        <span class="twitter">
          <i class="fab fa-twitter"></i>
        </span>
      </div>

      <div class="vote">
        <span class="fav">
          <i class="fas fa-heart"></i>
          <!-- <i class="far fa-heart"></i> -->
        </span>
      </div>

    </div>
  </div>
</div>